div.container {
    max-width: 900px;
    margin: auto;
    border: 1px solid black;
    background: whitesmoke; 
}

header, footer {
    background: gainsboro; 
    clear: left;
}

header {
    border-bottom: 1px solid black;
}

footer {
    text-align: center;
    padding: 1em;
    border-top: 1px solid black;
}

nav {
    padding: 1em;
    background: whitesmoke; 
    float: left;
    max-width: 160px;
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

article {
    background: white;
    margin-left: 170px;
    border-left: 1px solid black;
    padding: 1em;
    overflow: hidden;
}

img{
    width: 68px;
    height: 68px;
}

h1, img {
    vertical-align: middle;
    display: inline-block;
}

title {
    padding-left: 50px;
}

div.login, div.logout {
    display: inline-block;
    float: right;
    padding: 1em;
}